.chip {
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #888;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    padding: 7px 9px;
    display: inline-block;
    margin-top: 8px;
    text-align: center;
    margin-right: 5px;
}