<div *ngIf="message.type!='text'" [ngClass]="{'me' : message.sentBy === 'human'}" class="message-bubble">
    <div class="message-bubble-inner">
        <div class="message-avatar">
            <img [src]="message.sentBy === 'human' ? message.userImg : message.botImg" alt="">
        </div>

        <div class="message-text">
            <embed *ngIf="message.docUrl" [src]="message.docUrl" />
            <img *ngIf="message.imageUrl" [src]="message.imageUrl">
            <p>{{message.text}} </p>
            <p *ngIf="message.docUrl">
                <small><a target="__blank" [href]="message.docUrl">Unable to Open?
                        Try in new
                        tab</a></small>
            </p>
            <p *ngIf="message.webUrl"><small><a target="__blank" [href]="message.webUrl">Click here to
                        open this link</a></small></p>

        </div>
        <div *ngIf="message.chips && message.chips.length">
            <span (click)="sendMsg(c)" *ngFor="let c of message.chips" class="chip">{{c.text}}</span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div *ngIf="message.type=='text'" [ngClass]="{'me' : message.sentBy === 'human'}" class="message-bubble">
    <div class="message-bubble-inner">
        <div class="message-avatar">
            <img [src]="message.sentBy === 'human' ? message.userImg : message.botImg" alt="">
        </div>
        <div class="message-text">
            <p>{{message.text}}</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div *ngIf="false" class="message-bubble">
    <div class="message-bubble-inner">
        <div class="message-avatar"><img [src]="message.botImg" alt=""></div>
        <div class="message-text">
            <!-- Typing Indicator -->
            <div class="typing-indicator">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>